.header {
  display: flex;
  align-items: center;
  background-color: #FFF;
  color: darkblue;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}

.header .logo {
  max-height: 60px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}
