<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a>
      <img src="assets/img/logo1.png" alt="logo1" class="logo">
    </a>
  </span>
  <span>
    <a>
      <img src="assets/img/logo2.png" alt="logo2" class="logo">
    </a>
  </span>
  <span class="title-group">
    <a routerLink="/">
      <i class="material-icons">home</i>
      <!-- Controle do Almoxarifado --> Início
    </a>
  </span>
  <span class="title-group">
    <a routerLink="/location">
      <i class="material-icons">add_location</i>
      <!-- Controle do Almoxarifado --> Localização
    </a>
  </span>
</mat-toolbar>
